<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="./css/output.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
        @RenderBody()
</body>
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
@await RenderSectionAsync("Scripts",false)
</html>
