@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link{
    position: relative;
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--link-hover);
        bottom: 0;
        left: 0;
        border-radius: 10px;
        transform: scaleX(0);
        transition: 0.3s;
    }
    &:hover{
        color: var(--link-hover);
        &::before{
            transform: scaleX(1);
        }
    }
}

.active-nav-link{
    position: relative;
    color: var(--link-hover);
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--link-hover);
        bottom: 0;
        left: 0;
        border-radius: 10px;
        transform: scaleX(1);
        transition: 0.3s;
    }
}
.links:hover{
    background-color: #eee;
    transition : 0.5s;
    color: var(--link-hover);
}
.search_input{
    width: 90%;
}

.container {
    @apply mx-auto max-w-7xl px-2 sm:px-6 lg:px-8
}

.active_btn {
    @apply border-blue-500
}

.non_active_btn {
    @apply text-gray-500
}

.currentCourse {
    @apply bg-indigo-50 text-blue-500 hover:bg-indigo-100
}